@import "src/_validation.scss";

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  height: 100%;
}

.main-container {
  background: rgba(41, 70, 97, 0.02);
  min-height: 100%;
}

.v-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
