{
	"adminUsername": "",
	"adminPassword": "",
	"nurseUsername": "",
	"nursePassword": "",
	"providerUsername": "",
	"providerPassword": "",
	"careAmbassadorUsername": "",
	"careAmbassadorPassword": "",
	"testerPracticeId": "",
	"practiceSlug": "",
	"testerGmail": "",
	"testerProvider": "",
	"testerCareAmbassador": ""
}
