.DS_Store
apps/*/CircleLinkHealth
apps/*/*deploy-s3.env
apps/*/staging-deploy-s3.env
apps/*/production-deploy-s3.env
apps/admin-app/staging-deploy-s3.env
apps/admin-app/production-deploy-s3.env
/vendor/
staging-deploy-s3.env
production-deploy-s3.env
