/vendor/
/node_modules/
/bower_components/
.idea/shelf/
.idea/workspace.xml
.env
.env.staging
.env.prod
_ide_helper.php
_ide_helper_models.php
/public/compiled/
/public/mix-manifest.json
launch.json
.DS_Store
/storage/api-docs
.phpstorm.meta.php
storage/oauth-private.key
storage/oauth-public.key
public/js/uploader.js
public/js/uploader.js.map
storage/patient/pdf-careplans/
public/*.js
public/*.js.map
/coverage/
.php_cs.cache
CLHPackages/
.phpunit.result.cache
