S3_SECRETS_KEY=[fill this in]
S3_SECRETS_SECRET=[fill this in]
S3_SECRETS_REGION=us-east-1
S3_SECRETS_BUCKET=[fill this in]
ENV_TYPE=staging
# below line should stay unchannged
# setup-deploy-s3.sh will replace it
APP_NAME=