<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Deployment">
            <directory>./tests/CarePlan/</directory>
            <directory>./tests/acceptance/</directory>
            <directory>./tests/functional/</directory>
            <directory>./tests/integration/</directory>
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="Application Test Suite">
        <directory>./tests/Notes/</directory>
        </testsuite>
        <testsuite name="Notes">
            <directory>./tests/Notes/</directory>
        </testsuite>
        <testsuite name="Aprima_Api">
            <directory>./tests/AprimaApi/</directory>
        </testsuite>
        <testsuite name="Care_Plan">
            <directory>./tests/CarePlan/</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"
                  file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php">
        </listener>
    </listeners>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>

        <!--We can use sqlite in memory if we don't want to use the actual db-->
        <!--<server name="DB_CONNECTION" value="sqlite"/>-->
        <!--<server name="DB_DATABASE" value=":memory:"/>-->
    </php>
</phpunit>
