<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutTodoAnnotatedTests="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="EligibilityModule">
            <directory suffix="Test.php">./CircleLinkHealth/Eligibility/Tests</directory>
        </testsuite>
        <testsuite name="NurseInvoicesModule">
            <directory suffix="Test.php">./CircleLinkHealth/Nurseinvoices/Tests</directory>
        </testsuite>
        <testsuite name="SamlSpModule">
            <directory suffix="Test.php">./CircleLinkHealth/SamlSp/Tests</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="UserScope">
            <directory suffix="Test.php">./tests/Feature/UserScope</directory>
        </testsuite>
        <testsuite name="Deployment">
            <directory suffix="Test.php">./tests/integration/</directory>
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Provider">
            <directory>./tests/Provider/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app</directory>
        </whitelist>
    </filter>
    <php>
        <!--BUG: Laravel does NOT pick test env during testing.-->
        <!--Workaround: precede commands with APP_ENV=testing-->
        <!--APP_ENV=testing phpunit-->
        <env name="APP_ENV" value="testing"/>
        <env name="PROFILER_ENABLED" value="false"/>
        <env name="SCOUT_DRIVER" value="null"/>
        <server name="APP_ENV" value="testing"/>
        <ini name="display_errors" value="true"/>
    </php>
</phpunit>
