<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Deployment">
            <directory>./tests/integration/</directory>
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="Application Test Suite">
            <directory>./tests/Notes/</directory>
        </testsuite>
        <testsuite name="Notes">
            <directory>./tests/Notes/</directory>
        </testsuite>
        <testsuite name="TimeTracking">
            <directory>./tests/TimeTracking/</directory>
        </testsuite>
        <testsuite name="Calls">
            <directory>./tests/Calls/</directory>
        </testsuite>
        <testsuite name="Aprima_Api">
            <directory>./tests/AprimaApi/</directory>
        </testsuite>
        <testsuite name="Care_Plan">
            <directory>./tests/CarePlan/</directory>
        </testsuite>
        <testsuite name="Provider">
            <directory>./tests/Provider/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>

        <!--We can use sqlite in memory if we don't want to use the actual db-->
        <!--<server name="DB_CONNECTION" value="sqlite"/>-->
        <!--<server name="DB_DATABASE" value=":memory:"/>-->
    </php>
</phpunit>
