// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

$primary-color: #50b2e2;

@import "~bootstrap-css-only/css/bootstrap.min.css";

@import "~mdbvue/build/scss/mdb";

/**
Add global CSS here
 */

/*
.btn-primary {
    font-size: 18px;
    border-color: #4aa5d2;
}
*/
