.cover {
    background-color: #fff;
    color: #636b6f;
    font-family: Poppins, sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    letter-spacing: 1px;
}

.cover.position-ref {
    position: relative;
}

.cover .content {
    margin-top: 100px;
    text-align: center;
}

.cover .title {
    margin-top: 60px;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #1a1a1a;
}

.cover div {
    font-size: 18px;
}

.cover div > p {
    margin-top: 10px;
    margin-bottom: 0;
}

.cover .patient-name {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #50b2e2;
}

.cover .footer {
    position: fixed;
    width: 100%;
    bottom: 60px;
}

.cover .watermarked {
    color: rgb(88, 89, 90);
    letter-spacing: 1px;
}
