html, body, #app {
    letter-spacing: 0.78px;
    font-size: 14px;
    font-family: Poppins, sans-serif;
}

.section-title {
    background-color: #50b2e2;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #ffffff;
}

.section-body {
    padding-top: 20px;
}

.health-advice-title {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    color: #1a1a1a;
}

.report {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.recommendation-title {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 1% 20px;
    background-color: #50b2e2;
}

.table.table td, table.table th {
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    align-content: center;
}

.table.table thead th {
    padding-left: 1%;
    width: 250px;
}

.table thead {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.suggested-list {
    display: flex;
}

.report-title {
    font-weight: 500;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.33px;
    color: #1a1a1a;
    margin-bottom: 20px;
}

.report-data {
    margin-bottom: 20px;
}

.side-title {
    margin-left: 20px;
    margin-top: 11px;
}

.suggested-list-body {
    font-weight: 500;
}

.image {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    background-size: contain !important;
}

.recommendations-area {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.78px;
    color: #1a1a1a;
}
