html, body, #app {
    letter-spacing: 1px;
    font-size: 14px;
    font-family: Poppins, sans-serif;
}

.section-title {
    background-color: #50b2e2;
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #ffffff;
}

.section-body {
    padding-top: 20px;
}

.report {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.recommendation-title {
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 1% 20px;
    background-color: #50b2e2;
}

table th {
    padding: 0 !important;
    line-height: 23px;
    text-align: left;
}

table td {
    padding: 10px 0 0 !important;
}

.table-col-1 {
    width: 45%;
}

.table-col-2 {
    width: 25%;
}

.table-col-3 {
    width: 20%;
}

.table thead {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.suggested-list {
    display: flex;
    margin-bottom: 20px;
}

.report-title {
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    line-height: 40px;
    letter-spacing: 1.33px;
    color: #1a1a1a;
    margin-bottom: 20px;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.no-border {
    border: 0;
}

.no-margin {
    margin: 0;
}

.report-data {
    margin-bottom: 20px;
}

.side-title {
    margin-left: 20px;
    margin-top: 11px;
}

.suggested-list-body {

}

.image {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    background-size: contain !important;
}

.recommendations-area {
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.78px;
    color: #1a1a1a;
}

.margins-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
