.section-title {
    background-color: #50b2e2;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #ffffff;
}
.section-body {
    padding-top: 20px;
}

.report-title {

    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    color: #1a1a1a;
}

.report{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    paddding-bottom: 10%;
}