commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /public
  # Now setup the VPC that our EC2 instances should use
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-fffa179a
   # Now we setup a subnet for our VPC ec2 instances to use
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-080c2d4e
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

container_commands:
  01-install_composer:
    command: "curl -s http://getcomposer.org/installer | php"
    cwd: "/var/app/ondeck"
  02-install_dependencies:
    command: "php composer.phar install"
    cwd: "/var/app/ondeck"
  03-cleanup_composer:
    command: "rm -Rf composer.*"
    cwd: "/var/app/ondeck"
  04-create-env:
    command: "cat .ebextensions/env.txt > .env"
    cwd: "/var/app/ondeck"
  10-artisan_migrate:
    command: "php artisan migrate --force"
    cwd: "/var/app/ondeck"
    leader_only: true