commands:
  01_update_composer:
    command: export HOME=/root && export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update 1.0.0-alpha11

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: HOME
    value: /root
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /public
  # Now setup the VPC that our EC2 instances should use
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-fffa179a
   # Now we setup a subnet for our VPC ec2 instances to use
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-080c2d4e
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

container_commands:
  08-artisan_key_generate:
    command: "php artisan key:generate"
    cwd: "/var/app/ondeck"
    leader_only: true
  09-artisan_migrate:
    command: "php artisan migrate --force"
    cwd: "/var/app/ondeck"
    leader_only: true
#  11-artisan_seed:
#    command: "php artisan db:seed --class=NotesTableSeeder"
#    cwd: "/var/app/ondeck"
#    leader_only: true


files:
 "/etc/php.d/20-php-upload.ini" :
   mode: "000644"
   owner: root
   group: root
   content: |
     max_execution_time = 300
     max_file_uploads = 200
     max_input_time = 300
     memory_limit = 2048M
     post_max_size = 64M
     upload_max_filesize = 64M
 "/var/www/html/storage/logs/laravel.log" :
    mode: "000644"
    owner: root
    group: root
    content: |
      Initialized laravel.log file.