Resources:
 AWSEBLoadBalancer:
 Type: AWS::ElasticLoadBalancing::LoadBalancer
 Properties:
    Listeners:
    -   InstancePort: 80
        InstanceProtocol: HTTP
        LoadBalancerPort: 80
        PolicyNames:
        - CookiePolicy
        Protocol: HTTP
    AppCookieStickinessPolicy:
    -   CookieName: laravel_session
        PolicyName: CookiePolicy