Type: "AWS::ElasticLoadBalancing::LoadBalancer"
Properties:
  AppCookieStickinessPolicy:
    - CookieName: laravel_session
      PolicyName: CookiePolicy
  Listeners:
    - InstancePort: 80
      InstanceProtocol: HTTP
      LoadBalancerPort: 80
    - InstancePort: 443
      InstanceProtocol: HTTP
      LoadBalancerPort: 443
      PolicyNames:
        - CookiePolicy
      Protocol: HTTP
