$primary-color: #2196F3;
$secondary-color: #2196F3;

body {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.primary-color {
  background-color: $primary-color;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  height: 100%;
}

.full-height {
  height: 100%;
  max-height: 100%;
}

.full-width {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;

}

.provider-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.brand-logo {
  margin-top: 6%;
}

[v-cloak] {
  display: none;
}

input:not([type]) + label:after, input[type=date] + label:after, input[type=datetime-local] + label:after, input[type=datetime] + label:after, input[type=email] + label:after, input[type=number] + label:after, input[type=password] + label:after, input[type=search] + label:after, input[type=tel] + label:after, input[type=text] + label:after, input[type=time] + label:after, input[type=url] + label:after, textarea.materialize-textarea + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 2.5rem;
  opacity: 0;
  transition: opacity .2s ease-out, color .2s ease-out;
}

.input-field input:not([type]) + label:after, input[type=date] + label:after, input[type=datetime-local] + label:after, input[type=datetime] + label:after, input[type=email] + label:after, input[type=number] + label:after, input[type=password] + label:after, input[type=search] + label:after, input[type=tel] + label:after, input[type=text] + label:after, input[type=time] + label:after, input[type=url] + label:after, textarea.materialize-textarea + label:after {
  font-size: .75rem;
}

.input-field label {
  width: 100%;
}