.practice-title {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 20px;
    color: #50b2e2;
}

.practice-title .text-style-1 {
    font-weight: 600;
}

.survey-main-title {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 30px;
    color: #1a1a1a;
}

.survey-sub-welcome-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 25px;
    margin-left: 13%;
    width: 75%;
    color: #1a1a1a;
}
.btn-primary {
    border-radius: 3px;
    background-color: #50b2e2;
    margin-top: 50px;
    margin-left: 469px;
    width: 160px;
    height: 50px;
}

.bottom-navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #808080;
    min-height: 90px;
    height: 90px;
    margin-top: auto;
}

.by-circlelink {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 430px;
    color: #50b2e2;
}

.by-circlelink .text-style-1 {
    font-weight: normal;
    color: #1a1a1a;
}

.card {
    margin-top: 50px;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
}

.next-previous-buttons{
    width: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1020px;
    height: 55px;
    border-radius: 5px;
    background-color: #50b2e2;
}
.next{
   position: center;
}

.previous{
    position: center;
}
.welcome-icon{
    width: 108px;
    margin-left: 490px;
    margin-top: 20px;
}
