<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" forceCoversAnnotation="false" beStrictAboutCoversAnnotation="true" beStrictAboutOutputDuringTests="false" beStrictAboutTodoAnnotatedTests="true" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" verbose="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">app</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="EligibilityModule">
            <directory suffix="Test.php">./vendor/circlelinkhealth/eligibility-module/tests</directory>
        </testsuite>
        <testsuite name="Core">
            <directory suffix="Test.php">./vendor/circlelinkhealth/core-module/tests</directory>
        </testsuite>
        <testsuite name="LargePayloadSqsJob">
            <directory suffix="Test.php">./vendor/circlelinkhealth/large-payload-sqs-job-module/tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!--BUG: Laravel does NOT pick test env during testing.-->
        <!--Workaround: precede commands with APP_ENV=testing-->
        <!--APP_ENV=testing phpunit-->
        <env name="APP_ENV" value="testing"/>
        <env name="PROFILER_ENABLED" value="false"/>
        <env name="SCOUT_DRIVER" value="null"/>
        <server name="APP_ENV" value="testing"/>
        <ini name="display_errors" value="true"/>
    </php>
</phpunit>
