<div id="ccd-uploader" class="mdl-grid">
    <div v-bind:class="{ 'hide': groupHide }" class="mdl-cell mdl-cell--12-col">
        <div class="mdl-cell mdl-cell--12-col">
            <mdl-progress :progress="progress" :buffer="buffer" class="mdl-cell mdl-cell--12-col"></mdl-progress>
            <p :message="message" class="mdl-cell mdl-cell--12-col mdl-typography--text-left">{{ message }}</p>
        </div>

        <form method="POST" v-on:submit="onSubmitForm" enctype="multipart/form-data"
              class="mdl-cell mdl-cell--12-col" action="/ccd-importer/imported-medical-records">

            <input type="hidden" name="_token" v-bind:value="csrfToken">

            <!--UPLOAD BOX-->
            <div class="mdl-cell mdl-cell--12-col">

                <input type="file" id="ccd" name="file[]" class="dropzone" multiple>

                <div class="mdl-typography--text-center mdl-cell mdl-cell--12-col">
                    <mdl-button primary raised v-mdl-ripple-effect type="submit" :disabled="!enabled" id="upload-ccdas">
                        Upload CCD Records
                    </mdl-button>
                </div>
            </div>
        </form>
    </div>
</div>